name: Daily APK Download and Release

on:
  schedule:
    - cron: '0 5 * * *'  # Runs daily at 5:00 UTC
  workflow_dispatch:     # Still allows manual runs

permissions:
  contents: write

jobs:
  download_and_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Install Chrome and Chromedriver
        uses: browser-actions/setup-chrome@v1

      - name: Run Python script to download APK
        run: |
          ./scripts/download_juggluco.py

      - name: Extract version from filename
        run: |
          FILE=$(ls downloads/*.apk | head -n 1)
          echo "APK_FILE=$FILE" >> $GITHUB_ENV

          FILENAME=$(basename "$FILE")
          VERSION=$(echo "$FILENAME" | grep -oP '\d+-\d+-\d+' | sed 's/-/./g')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION_TAG=v$VERSION" >> $GITHUB_ENV

      - name: Check if release already exists
        id: check_release
        run: |
          EXISTS=$(curl -s -o /dev/null -w "%{http_code}" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/releases/tags/${{ env.VERSION_TAG }})
          if [ "$EXISTS" == "200" ]; then
            echo "Release already exists. Skipping."
            echo "SKIP_RELEASE=true" >> $GITHUB_ENV
          else
            echo "SKIP_RELEASE=false" >> $GITHUB_ENV
          fi

      - name: Get changes
        if: env.SKIP_RELEASE == 'false'
        run: |
          changelog="changes.html"
          changelog_url="https://www.juggluco.nl/Juggluco/${changelog}"
          changes_file="changes.md"

          curl --location --output "${changelog}" "${changelog_url}"

          ./scripts/parse_changelog.py "${changelog}" "${{ env.VERSION }}" >"${changes_file}"

          echo "changes_file=${changes_file}" >>"${GITHUB_ENV}"

      - name: Create GitHub Release
        if: env.SKIP_RELEASE == 'false'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION_TAG }}
          body_path: ${{ env.changes_file }}
          files: ${{ env.APK_FILE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
